.card {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  margin-bottom: 16px;
  display: flex;
  }

.card__content {
  width: 100%;
}

.card__image {
  background-image: url('../../../image/icons/image__mainCard.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 64px;
  background-color: rgba(65, 82, 46, 0.05);
  border-radius: 50%;
  margin-right: 24px;
}


.card__title {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #424242;
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card__price {
  width: 110px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.price__title {
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #878787;
}

.price__value {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.408px;
  color: #424242;
}
