.wrapper {
  padding: 32px;
  width: 360px;
  height: 472px;
  background: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  grid-area: FavoritePanel;
}

.favorite {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.favorite__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #424242;
  text-align: left;
  margin-bottom: 32px;
}


.favorite__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.input__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #424242;
  width: 100%;
  margin-bottom: 16px;
}

.input__label:last-child {
  margin-bottom: 32px;
}


.favorite__button {
  background-color: transparent;
  text-align: left;
  border: 1px solid #41522E;
  height: 28px;
  cursor: pointer;
  overflow: hidden;
  padding: 4px 8px;
  padding-right: 30px;
  margin-right: 8px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #41522E;
  border-radius: 4px;
}

.favorite__button::before {
  content: '';
  background-image: url('../../image/icons/select__up.svg');
  width: 9px;
  height: 6px;
  position: absolute;
  top: 7px;
  right: 12.5px;
}

.favorite__button::after {
  content: '';
  background-image: url('../../image/icons/select__down.svg');
  width: 9px;
  height: 6px;
  position: absolute;
  bottom: 7px;
  right: 12.5px;
}

.card__container {
  height: 295px;
  margin: 32px 0;
  overflow-y: hidden;
}
